*{
    margin: 0;padding: 0;
}
#div1{
    margin-left: 37%;
    margin-top: 100px;
    width: 500px;
    height: 300px;
    border: 5px solid #FF0000;
    position: relative;
    border-radius: 10px;
    background-color: mistyrose;
}
ul{
    position: absolute;
    font-size: 30px;
    font-family: "楷体";
    left: 20px;
}
#email{
    letter-spacing: 3px;
    top: 40px;

}
#account{
    letter-spacing: 3px;
    top: 130px;
}
input{
    height: 30px;
}
input[type=submit]{
    position: absolute;
    width: 100px;height: 50px;
    font-size: 24px;
    left: 38%;
    bottom: 20px;
}
input[type=submit]:hover{
    background-color: #FF0000;
    border-radius: 10px;
    transform: scale(1.2);
    transition: ease 1s;

}
b{
    color: red;
}