<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>密码</title>
        <link rel="stylesheet" href="/static/css/forget_pwd.css">
		<script src="/static/js/jquery-3.4.1.min.js"></script>
	</head>
	<body>
			<div id="div1">
				<form action="login" method="post">
				<ul id="email">请输入您的邮箱：
					<input type="text" >
                    <b></b>
					</ul>
				<ul id="account">请输入您的账户：
					<input type="text" >
                    <b></b>
				</ul>

				<input type="submit" id="sure_but" value="确认" disabled>
			</form>
			</div>
	</body>
</html>
<script>
	$(function(){
        var regx1 = /^[1]+[3,8]+\d{9}$/;
        var regx2 = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        var demo = {"first": 0, "second": 0};
        $("#email").children("input").focusout(function(){
            var tag = $(this).val();
            {#var data ={"message": $(this).next().val()} #}
            if(regx2.test(tag)){
                $(this).next().html("");
                demo["first"] = 1
            }else{
                $(this).next().html("邮箱格式不正确");
                demo["first"] = 0
            }
        });
        $("#account").children("input").focusout(function(){
           var tag = $(this).val();
           if (regx1.test(tag)){
               $(this).next().html("");
               demo["second"] = 1
           }else{
               $(this).next().html("账户格式不正确");
               demo["second"] = 0
           }
        });
        $("#account, #email").focusout(function(){
           if (demo["first"] === 1 && demo["second"] === 1){
               $("#sure_but").attr("disabled", false);

               $.ajax({
                   async:false,
                   url:"user/forget_pwd",
                   data: {"email": $("#email").children("input").val(), "account": $("#account").children("input").val()},
                   type: "post",
                   success:function (msg) {
                       data = JSON.parse(msg);
                       alert(data["msg"]);
                       if (data["status"] === 200){
                       $("#sure_but").submit()
                       }else{
                           $("#sure_but").submit(false)
                       }
                   }
               })
           }
        });

	})
</script>