<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>密码</title>
    <link rel="stylesheet" href="/static/css/password.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
</head>
	<body>
    <div id="div1">
        <form action="user/change_pwd" method="post">
            <ul id="account">请输入您的账户：
                <input type="text" name="acc">
               <b></b>
            </ul>


            <ul id="old_pwd">请输入您的旧密码：
                <input type="password" name="pwd">
                <b></b>
            </ul>

            <ul id="new_pwd">请输入您的新密码：
                <input type="password">
                <b></b>
            </ul>

            <ul id="sure_pwd">确认新密码：
                <input type="password" name="new_pwd">
                <b></b>
            </ul>

            <input type="submit" id="sure_but" disabled="true" value="确认修改">
        </form>
    </div>
	</body>
</html>
    <script>
        $(function() {
            var demo = {"first":0, "second":0,};
            {#账户, 旧密码验证#}
            $("#account, #old_pwd").children("input").focusout(function () {
                var name = $(this).attr("name");
                let tag = $(this).next();
                var account = $(this).val();
                $.ajax({
                    url: "user/check_user",
                    type: "post",
                    data: {"account": account, "status": name},
                    success: function (msg) {
                        msg = JSON.parse(msg);
                        if (msg["status"] === "500") {
                            tag.css("color", "red");
                            tag.html(msg["msg"]);
                            demo["first"] = 0
                        } else {
                            tag.css("color", "green");
                            tag.html(msg["msg"]);
                            demo["first"] = 1
                        }
                    }
                })
            });
            {#新密码验证#}
            $("#new_pwd").children("input").focusout(function(){
                if ($(this).val() === ""){
                    $(this).next().html("请输入新密码");
                    demo["second"] = 0
                }
                else if ($(this).val() === $("#old_pwd").children("input").val()){
                    $(this).next().html("新密码不能与旧密码相同");
                    demo["second"] = 0
                }else if ($(this).val() !== $("#sure_pwd").children("input").val()){
                     $(this).next().html("两次密码不一致");
                     demo["second"] = 0
                }
                else{
                    $(this).next().html("");
                }
            });
            $("#sure_pwd").children("input").focusout(function(){
                if ($(this).val() !== $("#new_pwd").children("input").val()){
                    $(this).next().html("两次密码不一致");
                    $("#sure_but").attr("disabled", true);
                    demo["second"] = 0
                }
                else{
                    $(this).next().html("");
                    $("#new_pwd").children("input").next().html("");
                    demo["second"] = 1
                }

            });
            {# 根据填写数据的完整性 改变按钮状态#}
            $("#account, #old_pwd, #new_pwd, #sure_pwd").focusout(function(){
                if (demo["first"] === 1 && demo["second"] === 1){
                    $("#sure_but").attr("disabled", false)
                    }else{
                    $("#sure_but").attr("disabled", true)
                    }
            })

        })
    </script>
